@model  Conversation
@{
    var isAgent = WeavyContext.Current.User.IsInRole("Agent");
}

<div id="feedback-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pane-header">
                @*<button type="button" class="btn btn-icon btn-primary" data-dismiss="modal">@Svg.Icon("arrow-left")</button>*@
                <div class="pane-title text-truncate">@T["Feedback"]</div>
                <button type="button" class="btn btn-icon" data-dismiss="modal">@Svg.Icon("close")</button>
            </div>
            <div class="modal-body">
                @if(isAgent){
                    <div class="text-muted text-center">Agents cannot leave feedback</div>
                } else {
                    <form id="feedback-form" class="text-center" action="@(Url.Action<MessengerController>(x => x.InsertFeedback(Model.Id, null)))" method="post">
                        <fieldset class="my-3">
                            <label class="d-none">@T["Rating"]</label>
                            <div class="rating">
                                <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> 
                                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                                <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
                                <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
                                <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary" title="@T["Send Feedback"]">@T["Send Feedback"]</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

